<div class = "Intro">
    <h2>Présentation</h2>
    <p>Bienvenue dans mon porte Folio ! Ici dès que j'ai du temps et l'envie, je place mes projets, ainsi je montre ce que je suis capable de faire.<br>
        Une petite date va être présente en bas à gauche pour indiquer la dernière mise à jour.<br><br>
        Il faut que je me présente un minimun ! Pour l'anonymat je donne uniquement mon pseudonyme, donc Xamora.<br>
        Je suis un jeune developpeur qui est en cours d'apprentissage. Et voila tout !
    </p>
</div>
<p class="date" ><u>Dernière modification :</u> 05/07/2022</p>