.Intro{
    background-color: rgb(164, 140, 185);
    border: 5px solid rgb(148, 119, 173);;
    border-radius: 2px;
    text-align: center;
    border-style:inset hidden hidden hidden;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 10px;

}

p{
    font-size: 110%;
}

.date{
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 10px;

    font-size: 90%;
}